* {
  margin: 0;
  padding: 0;
}

nav {
  height: 15vh;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.nav-items {
  display: flex;
  padding: 50px;
  list-style: none;
  cursor: pointer;
  font-family: inter;
}

.nav-item a {
  padding: 10px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.search {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  padding: 5px 20px;
}

.icon {
  background-color: red;
  padding: 7px 5px;
  cursor: pointer;
}

.icon:hover {
  background-color: rgb(154, 16, 16);
}

.home-section {
  background-color: antiquewhite;
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hero-image {
  height: 85vh;
  display: flex;
  align-items: center;
}
.hero-text {
  width: 50%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: rgb(25, 25, 149);
  font-family: inter;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(222, 157, 37);
}

.buttons {
  margin-right: 10px;
}

.btn2 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.btn3 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

iframe {
  margin-top: 30px;
}

.ad {
  font-size: 15px;
  padding: 10px;
  background-color: white;
}
